<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="SEO">
            <directory>./tests/Prerender.global/</directory>
            <directory>./tests/Prerender.default/</directory>
            <directory>./tests/Prerender.io/</directory>
            <directory>./tests/Seo/</directory>
            <directory>./tests/Seo_Content/</directory>
            <directory>./tests/Seo_Content_REST/</directory>
            <directory>./tests/Seo_Sitemap/</directory>
            <directory>./tests/Seo_Sitemap_REST/</directory>
            <directory>./tests/Seo_Backend_REST/</directory>
        </testsuite>
    </testsuites>
    
	<!-- Code coverage -->
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
	<logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>