<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Pluf">
            <!-- <directory>./Seo/</directory>
            <directory>./Sitemap/</directory> -->
            <directory>./Prerender.io/</directory>
        </testsuite>
    </testsuites>
</phpunit>